<%= form_with model: @event do |f|
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

   <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>


