<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-2"><%= @event.title %></h2>
        <div class="border">
          <h4 class="subtitle is-4">
            Host:
            <%= @event.creator.name %>
          </h4>
          <% unless @event.description.blank? %>
            <p class="pb-3">
            <span class="icon">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </span>
            <%= @event.description %>
            </p>
          <% end %>
            <p class="pb-3">
            <span class="icon">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </span>
            <%= @event.location %>
            </p>
             <p class="pb-3">
            <span class="icon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
            <%= @event.start_date.strftime("%b %-d, %Y")%>
            <%= @event.start_time.strftime(" at %l:%M %P")%> -
            <% if (@event.start_date - @event.end_date).to_i == 0 %>
              <%= @event.end_time.strftime("%l:%M %P") %>
            <% else %>
              <%= @event.end_date.strftime("%b %-d, %Y")%>
              <%= @event.end_time.strftime(" at %l:%M %P")%>
            <% end %>
            <% if current_user.id == @event.creator_id %>
              <p><%= link_to "Edit Event", edit_event_path(@event), class: "buton is-edit" %></p>
              <p><%= link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delte this event?"}, class: "button is-dangerous" %></p>
            <% end %>


        </div>
             </p>
             <%= link_to 'All Events', root_path %> 
      </div>
    </div>
  </div>
  </div>
</section>


